/*  Add your styling here */
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
}

.nav-style img{
    width: 150px;
}
.nav-style {
    overflow: hidden; 
    position: relative;
    margin-bottom: 20px;
}
.nav-style #myLinks{
    display: block;
    background-color: gray;
}
.nav-style  a  {
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    border: solid black;
    
}
.nav-style h1{
    text-align: right;
    font-size: 40px;
    margin: 30px;
    
}
.Style1 h2{
    font-size: 40px;
    padding:20px 0 10px 30px;
}
.Style1 p{
    font-size: 20px;
    padding:0 0 20px 20px;
}

.Style2 {
    
    margin-bottom: 50px;
}
.Style3 img{
    width:250px;
    height: 250px;  
}

footer{
    margin-top: 30px;
    background-color: gray;
    
}
.Style4 a{
    
    text-decoration: none;
    
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border: solid black;
    border-radius: 5px;
}


@media(max-width:540px){
    
    .nav-style a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }  
    .nav-style img{
        width: 100px;
    }
    .Style2 img{
        width:500px;
        
    }
    
    .Style4 a{
        display: block;
        text-align: center;
    }
        
    .nav-style a {
        
        display: block;  
    } 
}
@media(min-width:900px){
    .icon{
        display: none;
    }
    .nav-style #myLinks{  
        margin-top: 100px;
        padding: 5%;
        text-align: right;
        margin:50px;

    }
    .Style1{
        display:flex;
        float: right;
        width: 50%;
    }
    .Style2 {
        display:flex;
        width: 300px;
        height: 300px;
        
    }
    .Style3 img{
        margin: 10px;
    }
    
    footer{
        display: flex;
    justify-content: center;
    }
    .cont{
        margin:50px;
    }


    
}


